{% extends "forget_me_not_app/base.html" %}
{% load widget_tweaks %}

{% block content %}

    {% if form.errors %}
    <div role="alert" class="alert alert-error">
        <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 shrink-0 stroke-current"
        fill="none"
        viewBox="0 0 24 24">
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>すでにアカウント登録済み。もしくはパスワードが一致しませんでした。もう一度お試しください。</span>
    </div>
    {% endif %}

    <form method="post" action="{% url "users:register" %}">
        {% csrf_token %}
        <p>{{ form.username.label }}</p>
        <p>{{ form.username|add_class:"input input-bordered w-full max-w-xs"}}</p>
        <p>{{ form.password1.label }}</p>
        <p>{{ form.password1|add_class:"input input-bordered w-full max-w-xs"}}</p>
        <p>{{ form.password2.label }}</p>
        <p>{{ form.password2|add_class:"input input-bordered w-full max-w-xs"}}</p>

        <button class="btn" name="submit">登録する</button>
        <input type="hidden" name="next" value="{% url "forget_me_not_app:memos" %}" />
    </form>

{% endblock content %}
