{% load static %}
<meta charset="UTF-8" />
<link href={% static "css/output.css" %} rel="stylesheet">
<title>忘れ物メモアプリ</title>
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost text-xl" href="{% url "forget_me_not_app:index" %}">忘れ物防止アプリ</a>
        </div>
        {% if user.is_authenticated %}

        <div class="flex-none">
            <ul class="menu menu-horizontal">
                <li>
                    <form method="post" action="{% url 'users:logout' %}">
                        {% csrf_token %}
                        <span class="font-base text-lg tracking-tight">こんにちは {{ user.username }}さん</span>
                        <input type="submit" value="ログアウト" class="btn"/>
                    </form>
                </li>
            </ul>
        </div>

        {% else %}
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
            <li><a href="{% url "users:register" %}">ユーザー登録</a></li>
            <li><a href="{% url "users:login" %}">ログイン</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
</body>

{% block content %}
{% endblock content %}