{% extends "forget_me_not_app/base.html" %}

{% block content %}
<h1>忘れ物メモ一覧</h1>

<p>これであなたも忘れ物ゼロ！</p>

<ul>
    {% for category in categories %}
        <p>{{category.name}} <a href="{% url "forget_me_not_app:edit_category" category.id %}">編集</a></p>
    {% empty %}
        <li>カテゴリーはゼロです！</li>
    {% endfor %}
</ul>

<ul>
    {% for memo in memos %}
        <li>{{memo.title}} 
            {{memo.reminder_time}} 
            <a href="{% url "forget_me_not_app:edit_memo" memo.id %}">編集</a> 
            <a href="{% url "forget_me_not_app:delete_memo" memo.id %}">削除</a>
        </li>
        <p>{{memo.text}}</p>
    {% empty %}
        <li>忘れ物はゼロです！</li>
    {% endfor %}
</ul>

<a href="{% url "forget_me_not_app:new_memo"%}">メモを新規追加する</a>

{% endblock content %}