{% extends "forget_me_not_app/base.html" %}

{% block content %}
<h1>忘れ物メモ一覧</h1>

<p>
    これであなたも忘れ物ゼロ！  
    <a href="{% url "forget_me_not_app:new_memo"%}">
        <button type="button">メモを新規追加する</button>
    </a>
    <a href="{% url "forget_me_not_app:new_category"%}">カテゴリーを新規追加する</a>
</p>

<p>【カテゴリー一覧】</p>

<ul>
    {% for category in categories %}
        <p>{{category.name}} 
            <a href="{% url "forget_me_not_app:edit_category" category.id %}">編集</a> 
            <a href="{% url "forget_me_not_app:delete_category" category.id %}">削除</a>
        </p>
    {% empty %}
        <li>カテゴリーはゼロです！</li>
    {% endfor %}
</ul>

<p>【忘れ物メモ一覧】</p>

<ul>
    {% for memo in memos %}
        <li>{{memo.title}} 
            {{memo.reminder_time}} 
            <a href="{% url "forget_me_not_app:edit_memo" memo.id %}">編集</a> 
            <a href="{% url "forget_me_not_app:delete_memo" memo.id %}">削除</a>
        </li>
        <p>{{memo.text}}</p>
    {% empty %}
        <p>忘れ物はゼロです！</p>
    {% endfor %}
</ul>

{% endblock content %}